{% extends 'base.html.twig' %}
{% block title "Forum - S'inscrire" %}
{% block body %}

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-center">S'inscrire</h2>
        <div class="row">


            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button class="btn btn-secondary" type="submit">S'inscrire!</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}