{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <table class="table table-striped col-md-6 text-center mx-auto">
            <thead>
            <tr>
                <th>ID</th>
                <th>TITRE</th>
                <th>AUTEUR</th>
                <th>ETAPES</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}

                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.author.username }}</td>
                    <td>{{ recipe.nbSteps }}</td>
                    <td>
                        <a href="" class="btn btn-warning">Editer</a>
                        <form method="post" action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-outline-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block title 'Admin - Recettes' %}

