{% extends 'base.html.twig' %}

{% block title recipe.title %}

{% block head %}
    <meta property="og:url" content="https://recettes.mamawdev.fr/index.php/recipe/{{ recipe.slug }}-{{ recipe.id }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FamilyRecipes" />
    <meta property="og:description" content="{{ recipe.description }}" />
    <meta property="og:image" content="https://recettes.mamawdev.fr/index.php/public/images/recipe/{{ recipe.filename }}" />
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="col-md-10 mx-auto p-0 recipe-show pt-5">
        <div class="row text-center my-4">
            <h1 class="col-md-12 recipe-title">{{ recipe.title }}</h1>
        </div>

        <div class="row mb-5">
            <img class="recipe-img" src="/images/recipe/{{ recipe.filename }}" width="30%" alt="{{ recipe.title }}">
            <div class="col-md-6 pl-5">
                <h3>Ingredients</h3>
                {% autoescape %}
                    {{ recipe.stuff|raw }}
                {% endautoescape %}

                <h3>{{ recipe.description }}</h3>
                <span class="badge badge-pill light-green d-flex col-md-2"><i class="fas fa-users fa-2x" aria-hidden="true"></i><p class="m-auto">{{ recipe.persons }}</p></span>
                <span class="badge badge-pill light-green d-flex col-md-2 mt-1"><i class="fas fa-utensils fa-2x"></i><p class="m-auto">{{ recipe.prepTime }} min.</p></span>
                <span class="badge badge-pill light-green d-flex col-md-2 mt-1"><i class="fas fa-temperature-high fa-2x"></i><p class="m-auto">{{ recipe.cookTime }} min.</p></span>
            </div>
        </div>

        {% for step in steps %}
            <div class="row mt-5 col-md-10 step-show p-0">
                <img src="/images/recipe/{{ step.filename }}" width="20%">
                <div class="col p-4">
                    <h3>{{ step.title }}</h3>
                    <p>{{ step.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

