{% extends 'base.html.twig' %}

{% block title recipe.title %}

{% block head %}
    <meta property="og:url" content="https://recettes.mamawdev.fr/index.php/recipe/{{ recipe.slug }}-{{ recipe.id }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Recettes" />
    <meta property="og:description" content="{{ recipe.description }}" />
    <meta property="og:image" content="https://recettes.mamawdev.fr/index.php/public/images/recipe/{{ recipe.filename }}" />
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="col-md-12 mx-auto p-0 recipe-show pt-5">

        <h1 class="recipe-title text-center">{{ recipe.title }}</h1>

        <div class="col-md-12 d-flex">

            <div class="recipe-left-head d-flex flex-md-column col-md-6">
                <div class="recipe-img-container">
                    <img class="recipe-img mx-auto" src="/images/recipe/{{ recipe.filename }}" alt="{{ recipe.title }}">
                </div>
            </div>

            <div class="recipe-right-head d-flex flex-md-column col-md-6">

                <div class="recipe-stuff">
                    <h3 class="text-center">Ingredients</h3>
                    {% autoescape %}
                        {{ recipe.stuff|raw }}
                    {% endautoescape %}
                </div>

                <div class="recipe-badge">
                    <div class="col-md-12 d-flex">
                        <div class="col-md-6">
                            <span class="badge badge-pill light-green d-flex col-md-4"><i class="fas fa-users fa-2x" aria-hidden="true"></i><p class="m-auto">{{ recipe.persons }}</p></span>
                            <span class="badge badge-pill light-green d-flex col-md-4 mt-1"><i class="fas fa-utensils fa-2x"></i><p class="m-auto">{{ recipe.prepTime }} min.</p></span>
                            <span class="badge badge-pill light-green d-flex col-md-4 mt-1"><i class="fas fa-temperature-high fa-2x"></i><p class="m-auto">{{ recipe.cookTime }} min.</p></span>
                        </div>
                        <div class="col-md-6">
                            <span id="fb-share" class="badge badge-pill badge-share facebook light-blue d-flex col-md-4"><i class="fab fa-facebook fa-2x"></i><p class="m-auto">Partager</p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recipe-desc-container my-5">
            <h3 class="text-center">{{ recipe.description }}</h3>
        </div>

        {% for step in steps %}
            <div class="row d-flex flex-column flex-md-row mt-5 col-md-10 step-show p-0 mx-auto">
                <img class="steps-img" src="/images/recipe/{{ step.filename }}">
                <div class="col p-4">
                    <h3>{{ step.title }}</h3>
                    <p>{{ step.content }}</p>
                    {% if app.user is same as (recipe.author) %}
                    <a href="{{ path('steps.edit', {step_id: step.id}) }}" class="btn btn-light-green">Modifier</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById('fb-share').onclick = function() {
            FB.ui({
                display: 'popup',
                method: 'share',
                href: 'https://recettes.mamawdev.fr{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}',
            }, function(response){});
        }
    </script>
{% endblock %}



