{% extends 'base.html.twig' %}

{% block title recipe.title %}

{% block head %}
    <meta property="og:url" content="https://recettes.mamawdev.fr/index.php/recipe/{{ recipe.slug }}-{{ recipe.id }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Recettes" />
    <meta property="og:description" content="{{ recipe.description }}" />
    <meta property="og:image" content="https://recettes.mamawdev.fr/index.php/public/images/recipe/{{ recipe.filename }}" />
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="col-md-10 mx-auto p-0 recipe-show pt-5">
        <div class="row text-center my-4">
            <h1 class="col-md-12 recipe-title">{{ recipe.title }}</h1>
        </div>

        <div class="row mb-5">
            <img class="recipe-img" src="/images/recipe/{{ recipe.filename }}" alt="{{ recipe.title }}">
            <div class="col-md-6 pl-md-5">
                <h3 class="text-center">Ingredients</h3>
                {% autoescape %}
                    {{ recipe.stuff|raw }}
                {% endautoescape %}

                <h3 class="text-center">{{ recipe.description }}</h3>
                <div class="row col-md-12 d-flex">
                    <div class="col-md-12 d-flex">
                        <div class="col-md-6">
                            <span class="badge badge-pill light-green d-flex col-md-4"><i class="fas fa-users fa-2x" aria-hidden="true"></i><p class="m-auto">{{ recipe.persons }}</p></span>
                            <span class="badge badge-pill light-green d-flex col-md-4 mt-1"><i class="fas fa-utensils fa-2x"></i><p class="m-auto">{{ recipe.prepTime }} min.</p></span>
                            <span class="badge badge-pill light-green d-flex col-md-4 mt-1"><i class="fas fa-temperature-high fa-2x"></i><p class="m-auto">{{ recipe.cookTime }} min.</p></span>
                        </div>
                        <div class="col-md-6">
                            <span id="fb-share" class="badge badge-pill badge-share facebook light-blue d-flex col-md-4"><i class="fab fa-facebook fa-2x"></i><p class="m-auto">Partager</p></span>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        {% if app.user is same as (recipe.author) %}
                            <a href="{{ path('recipe.edit', {recipe_id: recipe.id}) }}" class="btn btn-light-green btn-edit-recipe">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-2 text-center recipe-user p-2 p-md-0">
                <a class="d-flex flex-row flex-md-column align-items-center justify-content-around" href="{% if app.user == recipe.author %} {{ path('user.account', {user_id: app.user.id}) }} {% else %} {{ path('user.show', {user_id: recipe.author.id}) }} {% endif %}">
                    <img class="recipe-show-avatar" src="/images/user/{% if recipe.author.filename is same as ("") %}user.png{% else %}{{ recipe.author.filename }}{% endif %}" alt="avatar" width="100%" style="border-radius: 200px;">
                    <h3>{{ recipe.author.username }}</h3>
                </a>
            </div>
        </div>

        {% for step in steps %}
            <div class="row d-flex flex-column flex-md-row mt-5 col-md-10 step-show p-0 mx-auto">
                <img class="steps-img" src="/images/recipe/{{ step.filename }}">
                <div class="col p-4">
                    <h3>{{ step.title }}</h3>
                    <p>{{ step.content }}</p>
                    {% if app.user is same as (recipe.author) %}
                    <a href="{{ path('steps.edit', {step_id: step.id}) }}" class="btn btn-light-green">Modifier</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById('fb-share').onclick = function() {
            FB.ui({
                display: 'popup',
                method: 'share',
                href: 'https://recettes.mamawdev.fr{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}',
            }, function(response){});
        }
    </script>
{% endblock %}



