{% extends 'base.html.twig' %}
{% block title 'Recipes - Accueil' %}
{% block body %}
    <div class="jumbotron card card-image" style="background-image: url({{ asset('/images/jumb.jpg') }});background-size: cover;">
        <div class="text-white text-center py-5 px-4">
            <div class="main-title col-md-5 mx-auto p-2">
                <img src="{{ asset('/images/title5.png') }}">
            </div>
        </div>
    </div>

    <div class="container-fluid p-5 mt-5">
        <h1 class="col-md-12 text-center">Dernières recettes</h1>
        <div class="row d-flex justify-content-around flex-wrap mt-4">
            {% for recipe in last %}

                <div class="card col-md-3 p-0">
                    <div class="card-img">
                        <img class="card-img-top" src="/images/recipe/{{ recipe.filename }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a>{{ recipe.title }}</a></h4>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}" class="btn btn-light-green">Voir</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}