{% extends 'base.html.twig' %}

{% block title user.username %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="col-md-12 p-0 user-account pt-5">
            <div class="row text-center my-4 d-flex flex-column">
                <div class="col-md-4 d-flex justify-content-center align-items-center mx-auto">
                    <h1 class="user-title">{{ user.username }}</h1>
                    <i class="far fa-edit my-auto ml-3" title="Modifier"></i>
                </div>
                <div class="form-group mx-auto d-none">
                    <div class="d-flex flex-row align-items-center">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Nouveau nom d'utilisateur">
                        <button class="btn btn-light-green p-2 edit-btn"><i class="far fa-paper-plane"></i></button>
                    </div>
                    <span id="username-error"></span>
                </div>
            </div>

            <div class="row mb-5 text-center d-flex flex-row justify-content-center">
                <a class="text-center usr-img-link" href="{{ path('user.update.avatar') }}">
                <img class="user-img mx-auto edit-avatar" src="/images/user/{% if user.filename is same as ("") %}user.png{% else %}{{ user.filename }}{% endif %}" alt="{{ user.username }}">
                </a>
            </div>

            <div class="row text-center my-4">
                <h1 class="col-md-12 recipe-title">Mes recettes</h1>
            </div>

            <div class="row d-flex justify-content-around flex-wrap">
                {% for recipe in recipes %}
                    <div class="card mb-4 col-10 col-md-5 p-0 flex-column flex-md-row user-recipe-card mx-auto">
                        <img class="card-img-top" src="/images/recipe/{{ recipe.filename }}" alt="{{ recipe.title }}">
                        <div class="card-body text-center">
                            <h4 class="card-title"><a>{{ recipe.title }}</a></h4>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}" class="btn btn-light-green">Voir</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/account.js') }}"></script>
{% endblock %}

